    <footer class="footer">
      <div class="contributing">
        <h2>Room for improvement</h2>
        <p class="contributing__cta">Let me know how this page or website can be improved.</p>
        <a class="button" href="https://github.com/FMJansen/inclusief.design/issues">
          Submit an issue on <strong>GitHub</strong></a>
        or
        <a class="button" href="mailto:hey@inclusief.design">
          Email <strong>hey@inclusief.design</strong></a>
      </div>

      <p class="footer__contact">
        <a href="{% link privacy.md %}">Privacy</a> – Last update: {{ site.time | date: '%e %B %Y' }}
      </p>
    </footer>

    <script type="text/javascript">
      console.log('did I do something stupid? Let me know with a PR or issue 🌸 https://github.com/fmjansen/inclusief.design');
    </script>

  </body>
</html>
