<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">

    <title>{% if page.url != "/" %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta property="og:title" content="{{ site.title }}{% if page.url != "/" %} - {{ page.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://inclusief.design">
    <meta property="og:description" content="{{ site.description }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title }}{% if page.url != "/" %} - {{ page.title }}{% endif %}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://inclusief.design/static/img/ogimg.png">

    <meta name="robots" content="index,follow">
    <meta name="keywords" content="inclusief, inclusion, diversity, design, digital, academic, industrial, product, netherlands">
    <meta name="author" content="Floris Jansen">
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#000000">

    <script src="/static/js/main.js?v={{ site.time }}" async></script>
    <link rel="preload" href="/fonts/MARTIN-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/MARTIN-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/MARTIN-Regular.eot" as="font" type="font/eot" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/main.css?v={{ site.time }}">
    <link rel="shortcut icon" href="/favicon.png">

  </head>
  <body class="{{ page.layout }}">

    <a href="#site-content" class="skip">Skip to content</a>

    <header>
      <h1 class="logo">Inclusief Design{% if page.url != "/" %}:
        <span class="logo__page">{{ page.title }}</span>{% endif %}
      </h1>
    </header>

    <nav class="menu-cont">
      <ul class="main-menu">
        <li class="main-menu__item">
          <a href="/"
            class="main-menu__link {% if page.url == "/" %}main-menu__link--active{% endif %}">Home</a>
        </li>
        <li class="main-menu__item">
          <a href="/learn/"
            class="main-menu__link {% if page.url == "/learn/" %}main-menu__link--active{% endif %}">Learn</a>
        </li>
        <li class="main-menu__item">
          <a href="/act/"
            class="main-menu__link {% if page.url == "/act/" %}main-menu__link--active{% endif %}">Act</a>
        </li>
        <li class="main-menu__item">
          <a href="/resources/"
            class="main-menu__link {% if page.url == "/resources/" %}main-menu__link--active{% endif %}">Resources</a>
        </li>
        <li class="main-menu__item">
          <a href="/examples/"
            class="main-menu__link {% if page.url == "/examples/" %}main-menu__link--active{% endif %}">Initiatives&nbsp;&&nbsp;Examples</a>
        </li>
        <li class="main-menu__item">
          <a href="/about/"
            class="main-menu__link {% if page.url == "/about/" %}main-menu__link--active{% endif %}">About&nbsp;&&nbsp;Contributing</a>
        </li>
      </ul>
    </nav>
