<div class="updates" markdown="0">
  <h2>Updates</h2>
  <p>You could star <a href="https://github.com/FMJansen/inclusief.design/commits/main">the repo on GitHub</a>, but if you prefer human-readable updates, I’ll try to send you an email, once in a while.</p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/inclusief.design"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/inclusief.design', 'popupwindow')"
    class="embeddable-buttondown-form">
    <p class="updates__label"><label for="bd-lemail">Your email address</label></p>
    <p style="line-height: 0;">
      <input type="email" class="text-input" name="email" id="bd-email" placeholder="sam@janssen.nl">&ensp;
      <input type="submit" value="Subscribe" class="button button--alternative">
    </p>
    <p>
      I’m using <a href="https://buttondown.email/" target="_blank">Buttondown</a>, so <a href="https://buttondown.email/legal/privacy/">their privacy policy</a> applies, too, when signing up. I don’t use additional tracking in the emails.
    </p>
  </form>
</div>
