/*-------------------------------------*\

  Inclusief Design

  - Floris Jansen, floris@fmjansen.nl

  base.scss
  + Variables (colors and fonts)
  + Reset
  + Paragraph styles
  + Header
  + Main
  + Footer
  ...

\*-------------------------------------*/





/*-------------------------------------*\
  Variables (colors and fonts)
\*-------------------------------------*/
@font-face {
  font-display: swap;
  font-family: 'Martin';
  src: url('/fonts/MARTIN-Regular.woff2') format('woff2'),
       url('/fonts/MARTIN-Regular.woff') format('woff'),
       url('/fonts/MARTIN-Regular.eot') format('eot');
}

$font: 'Lora', serif;
$font--heading: 'Martin', sans-serif;
$background: #fff;
$text: #000;
$accent: #d93920;

// Breakpoints
$brk--phone: 768px;
$brk--tablet: 992px;
$brk--desktop: 1200px;
$brk--large-desktop: 1920px;






/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  --accent: #{$accent};
  --text: #{$text};
  background: $background;
  color: var(--text);
  font-family: $font;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.7;
  margin: 0;
  word-wrap: break-word;
}





/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font--heading;
  line-height: .75;
}

h1 {
  font-size: 15vw;

  @media (min-width: $brk--phone) {
    font-size: 6em;
  }
}

h2 {
  font-size: 3.5em;
  margin: 1em 0 .25em;
  text-transform: uppercase;
}

a {
  color: var(--accent);
  font-weight: bold;
}

p,
ul,
ol {
  max-width: 36em;
}

ul,
ol {
  padding-left: 1.5em;
}

li {
  line-height: 1.6;
  margin: 1.25em 0;
}

strong {
  font-weight: 700;
}

blockquote {
  border-left: .3em solid var(--accent);
  margin-left: 0;
  padding-left: 2em;
}





/*-------------------------------------*\
  Header
\*-------------------------------------*/
.skip {
  background: $background;
  border: 1px solid $text;
  color: $text;
  display: block;
  line-height: 1;
  padding: 1em;
  position: absolute;
  top: -5em;

  &:focus {
    left: 5px;
    top: 5px;
    z-index: 100000;
  }
}

.logo {
  color: var(--accent);
  margin: 7.5vw 10vw .25em;
  text-transform: uppercase;

  &__page {
    color: var(--text);
  }
}

.home .logo {
  font-size: 27vw;
  margin-top: 20vw;

  @media (min-width: $brk--phone) {
    font-size: 12em;
    margin-top: 10vw;
  }
}

.menu-cont {
  overflow-x: auto;
  width: 100%;
}

.main-menu {
  display: flex;
  flex-flow: row;
  list-style: none;
  margin-left: -1em;
  padding-left: 10vw;

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    color: inherit;
    font-weight: normal;
    padding: 0 1em;
    text-decoration-color: var(--accent);

    &--active {
      font-weight: bold;
    }
  }
}





/*-------------------------------------*\
  Main
\*-------------------------------------*/
.page {
  padding: 1.5vw 10vw;

  &--home {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4;

    @media (min-width: $brk--phone) {
      font-size: 4.4vw;
    }
  }
}

.home {
  --accent: $text;
  --text: #fff;
  background: $accent;
}






/*-------------------------------------*\
  Footer
\*-------------------------------------*/
.footer {
  opacity: .8;

  &__contact {
    padding: 0 10vw 2vw;
  }
}
